{% extends "home.html" %}
{% block about %}
<div >
    <img src="/static/notes.png" alt="MUSIC" width="1000" height="300">
    <h1 id='about'>Hey! This is machine learning mini project</h1>
    <ul id='about'>
    <li><h4>You can paste a playlist link and our website will suggest songs similar to that playlist, you can choose if you wish to see 5/10/15/20 songs</h4></li>
    <li><h4>This project is created by Utkarsha Mokashi, Sneha Nandu and Ashwathy Pillai</h4></li>
</ul>
</div>
{% endblock %}